:root {
    --primary-color: rgb(32, 40, 64);
    --background-color: rgb(16, 16, 16);
    --highlight-color: rgb(48, 56, 80);
    --link-color: rgb(128, 160, 192);
    --color: rgb(224, 224, 224);
}

html {
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: unset;
    transition: 0.2s;
}

body {
    background: var(--background-color);
    color: var(--color);
    font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
    margin: 0;
}

/* Loading Transitions */
.transition {
    transition: 1s ease;
}

.hidden {
    -webkit-transform: translateY(10%); /* Chrome / Safari / Opera */
    -moz-transform: translateY(10%); /* Firefox */
    -ms-transform: translateY(10%); /* Internet Explorer / Edge */
    transform: translateY(10%);
    opacity: 0;
}

.visible {
    -webkit-transform: translateY(0); /* Chrome / Safari / Opera */
    -moz-transform: translateY(0); /* Firefox */
    -ms-transform: translateY(0); /* Internet Explorer / Edge */
    transform: translateY(0);
    opacity: 1;
}

/* Top Button */
.top-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 64px 64px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.top-btn button {
    background: var(--primary-color);
    padding: 22px 32px;
    color: var(--color);
    font-size: 32px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.top-btn button:hover {
    background: var(--highlight-color);
}

.top-btn button:active {
    background: var(--primary-color);
}

.top-btn-show {
    opacity: 1;
    visibility: visible;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: var(--primary-color);
    width: 100%;
    height: 10vh;
    padding: 0 64px;
    box-sizing: border-box;
    transition: 1s;
    z-index: 9999;
}

header .header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

header h1 {
    color: #fff;
    font-size: 32px;
    user-select: none;
}

header .svg-inline--fa.fa-bars {
    display: none;
}

header .nav {
    display: flex;
    list-style-type: none;
}

header .svg-inline--fa {
    margin-right: 16px;
}

header .nav li {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

header .nav li:hover {
    color: #fff;
}

header .nav li::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    margin-top: 8px;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
}

header .nav li:hover::after {
    width: calc(100% + 16px);
}

header .nav li:not(:last-child) {
    margin-right: 32px;
}

/* Main */
main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

section {
    padding: 64px 12.5% 0 12.5%;
    box-sizing: border-box;
}

.section-left, .section-right {
    width: 50%;
}

section h1:not(.home-header h1) {
    font-size: 48px;
    line-height: 24px;
    text-decoration: underline var(--primary-color);
}

/* Home */
#home {
    height: 100vh;
}

.home-header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home-header {
    width: 50%;
    margin-top: -64px;
}

.home-header h1 {
    margin: 0;
    color: #fff;
    font-size: 64px;
}

.home-header h2 {
    margin: 16px 0;
    font-size: 32px;
}

.home-header .about {
    margin: 16px 0 32px 0;
    font-size: 24px;
    line-height: 32px;
}

.home-header a {
    display: inline-block;
}

.home-header button {
    display: flex;
    align-items: center;
    background: var(--primary-color);
    padding: 16px 20px;
    color: var(--color);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.home-header button:hover {
    background: var(--highlight-color);
}

.home-header svg {
    margin-right: 16px;
    font-size: 32px;
}

.home-header span {
    font-size: 24px;
}

.home-links a:hover {
    color: #fff;
}

.down-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}

.down-btn svg {
    background: none;
    color: var(--color);
    font-size: 48px;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.down-btn svg:hover {
    transform: translateY(8px);
    color: #fff;
}

/* Skills */
.skills-group {
    display: flex;
    padding: 16px 32px;
    border-left: 4px solid var(--primary-color);
}

.skills-group a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 64px;
    font-weight: bold;
}

.skills-group a:hover {
    color: #fff;
    -webkit-transform: translateY(-10%); /* Chrome / Safari / Opera */
    -moz-transform: translateY(-10%); /* Firefox */
    -ms-transform: translateY(-10%); /* Internet Explorer / Edge */
    transform: translateY(-10%);
}

.skills-group img {
    height: 1em;
    margin-bottom: 16px;
    font-size: 48px;
}

/* Projects */
.card {
    background: rgb(24, 24, 24);
}

#projects .card {
    margin-bottom: 64px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-title {
    background: var(--primary-color);
    padding: 16px;
}

.card-title h2 {
    margin: 0;
}

.card-content {
    display: flex;
}

.project-thumb-container {
    width: 50%;
}

.project-thumb {
    background-size: 150%;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 372px;
    box-sizing: border-box;
}

#project-thumb-2 {
    background-position: center;
}

#project-thumb-3 {
    background-size: 100%;
}

#project-thumb-5, #project-thumb-6 {
    background-position: center calc(100% / 3);
}

.project-details {
    width: 50%;
    padding: 16px;
}

.project-details-top {
    min-height: calc(50% - 16px);
}

.project-details p {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}

.project-tools {
    margin: 16px 0;
    color: rgb(192, 192, 192);
    font-size: 16px;
}

.project-tools .svg-inline--fa {
    margin-right: 8px;
}

.project-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(50% - 16px);
}

.project-btns a {
    margin: 0 16px;
}

.project-btns button {
    background: var(--primary-color);
    width: 200px;
    padding: 16px;
    color: var(--color);
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.project-btns button:hover {
    background: var(--highlight-color);
    color: #fff;
}

.project-btns button:active {
    background: var(--primary-color);
    color: var(--color);
}

.project-btns .svg-inline--fa, .prev-btn .svg-inline--fa, .next-btn .svg-inline--fa {
    margin-right: 16px;
}

/* Contact */
#contact {
    background: rgb(24, 24, 24);
    padding: 32px 12.5%;
    font-size: 20px;
}

.contact-info {
    margin-top: 32px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.contact-item div {
    display: flex;
    align-items: center;
}

.contact-item div:first-child {
    width: 150px;
}

.contact-item .svg-inline--fa {
    margin-right: 16px;
    font-size: 32px;
}

.contact-item a {
    color: var(--link-color);
}

.contact-item a:hover {
    color: #fff;
}

/* Mobile */
@media screen and (max-width: 1000px) {
    /* Top Button */
    .top-btn {
        display: none;
    }

    /* Header */
    header {
        padding: 16px;
    }

    header .svg-inline--fa.fa-bars {
        display: block;
        margin: 0;
        cursor: pointer;
        z-index: 9999;
    }

    header .nav {
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        margin: 0;
        padding: 64px 16px;
        transition: 1s;
    }

    header .nav-visible {
        left: 25%;
    }

    header .nav li {
        margin-bottom: 32px;
    }

    /* Main */
    section {
        padding: 64px 6.25% 0 6.25%;
    }

    section h1:not(.home-header h1) {
        font-size: 32px;
    }

    /* Home */
    .home-header h1 {
        font-size: 32px;
    }

    .home-header h2 {
        font-size: 16px;
    }

    /* About */
    .about-content {
        display: unset;
    }

    .section-left, .section-right {
        width: 100%;
    }

    #about p {
        font-size: 14px;
        line-height: 28px;
    }

    /* Skills */
    #skills h2 {
        font-size: 16px;
    }

    .skills-group {
        margin-bottom: 32px;
        padding: 8px 16px;
        flex-wrap: wrap;
        gap: 32px;
    }

    .skills-group a {
        margin-right: 0;
        font-size: 14px;
    }

    .skills-group img {
        font-size: 32px;
    }

    /* Projects */
    .card-title h2 {
        font-size: 20px;
    }

    .card-content {
        display: block;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }

    .project-thumb-container {
        width: unset;
        margin-bottom: 16px;
    }

    .project-thumb {
        height: 172px;
    }

    .project-details {
        width: 100%;
        padding: 0;
    }

    .project-details p {
        font-size: 14px;
        line-height: 28px;
    }

    .project-tools {
        font-size: 12px;
        line-height: 24px;
    }

    .project-btns {
        display: unset;
    }

    .project-btns a {
        display: block;
        margin: 0;
    }

    .project-btns a:first-child {
        margin-bottom: 16px;
    }

    .project-btns button {
        width: 100%;
        font-size: 16px;
    }

    /* Contact */
    #contact {
        font-size: 14px;
    }

    .contact-item div:first-child {
        min-width: 50%;
    }

    .contact-item .svg-inline--fa {
        font-size: 20px;
    }
}